.root {
    position: relative;
}

.section {
    position: relative;
    padding: 16px 0;
}

.title {
    padding-bottom: 16px;
    font-size: 1.250rem;
    font-weight: 600;
    border-bottom: 1px solid #868686;
}

.content {
    display: grid;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #EDEDED;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.wrapper {
    display: flex;
    position: relative;
    height: 0;
    padding-top: 66.66666666666666%;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
