.root {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: .75rem;
    font-weight: 600;
}

.content {
    display: flex;
    padding: 4px 8px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ededed;
    align-items: center;
}

.inputContainer {
    width: 200px !important;
    height: 32px;

    .input {
        width: 100%;
        height: 100% !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        font-size: 12px !important;
    }
}

.action {
    display: flex;
    gap: 10px;
}

.button {
    all: unset;
    font-size: .75rem;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #868686;
    }

    &:focus-visible {
        color: #868686;
    }
}
