.root {
    position: relative;
}

.value {
    display: flex;
    position: relative;
    flex-basis: 100%;
    justify-content: center;
    font-size: .825rem;
    color: #868686;

    &:before {
        content: '';
        display: flex;
        position: absolute;
        right: -1px;
        bottom: -6px;
        width: 1px;
        height: 10px;
        background-color: #292929;
    }

    &:after {
        content: attr(data-size) '\0000a0cm';
        position: absolute;
        top: 0;
        right: -18px;
        font-size: .625rem;
        color: #292929;
    }

    &.zero {
        flex-basis: 0;
    }
}
