.root {
    position: relative;

    label {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        input {
            position: absolute;
            cursor: pointer;
            opacity: 0;
        }

        .marker {
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #868686;
            border-radius: 50%;
        }

        input:checked ~ .marker {
            background-color: white;
        }

        .marker:after,
        .marker:before {
            content: "";
            display: none;
            position: absolute;
        }

        input:checked ~ .marker:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            background-color: #26BADA;
            border: 1px solid #FFF;
        }

        input:checked ~ .marker:before {
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            width: 12px;
            height: 12px;
            background-color: #868686;
            border-radius: 50%;
        }

        .marker:after {
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
    }
}

.disabled {
    pointer-events: none;
}
