@import '../../styles/mixin';

.root {
    display: flex;
    height: 3.75rem;
    font-size: .875rem;
    border-top: 0.0625rem solid #ededed;
    border-bottom: 0.0625rem solid #ededed;
    align-items: center;
}

.container {
    display: flex;
    //width: 1200px;
    //min-width: 1200px;
    //max-width: 1200px;
    margin: 0 auto!important;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    & > .button {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            font-size: 24px;
        }
    }
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    & > span {
        display: none;
        font-weight: 600;

        @include devices(desktop) {
            display: flex;
        }
    }
}

.smaller {
    font-size: 13px;
    line-height: 1.3;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .control {
        position: relative;

        &:hover {
            .errorMessage {
                display: block;
            }
        }
    }

    .input {
        max-width: 80px;

        &:focus {
            outline: none;
        }
    }

    .inputLabel {
        text-wrap: nowrap;
    }

    .cm {
        position: relative;

        &:after {
            content: 'cm';
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 100%;
            font-size: .825rem;
            background-color: #F4F4F4;
            border: 1px solid #868686;
            border-radius: 0 5px 5px 0;
            justify-content: center;
            align-items: center;
        }

        &.error {
            .border,
            &:after {
                border: 1px solid #c43636;
                outline: 2px solid #c43636;
            }
        }

        &.individual {
            .border,
            &:after {
                color: #DA4D8B; ;
                border: 1px solid #DA4D8B;
                outline: 2px solid #DA4D8B;
            }
        }
    }

    .errorMessage {
        display: none;
        position: absolute;
        top: 30px;
        left: 50%;
        width: 100%;
        padding: 4px;
        font-size: .625rem;
        color: #FFF;
        line-height: 1;
        text-align: center;
        background-color: #c43636;
        border-radius: 8px;
        transform: translateX(-50%);
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-right: 40px;

    & svg {
        font-size: 24px;
    }

    &:hover {
        cursor: pointer;

        & svg path {
            fill: #AC348C;
        }
    }
}
