@import './mixin';

@mixin mixinPageWidth {
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;

    @include devices(desktop) {
        width: 1800px;
        min-width: 1800px;
        max-width: 1800px;
    }
}

.body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    @include mixinPageWidth;
    padding-right: 60px;
    padding-left: 60px;
    margin: 0 auto 7px;
    justify-content: space-between;
}

.spreadContainer {
    display: flex;
    //width: 1200px;
    //min-width: 1200px;
    //max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 7px;
    justify-content: space-between;

    @include devices(desktop) {
        width: 100%;
        max-width: none;
    }
}

.widths {
    @include mixinPageWidth;
}
