@import "./normalize";
@import "./vendor/react-faq-component";
@import "./vendor/toastify";

html,
body {
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    --fancybox-zIndex: 99999999;
}

.blur {
    overflow: hidden;

    & > header,
    & > main,
    & > footer {
        filter: blur(3px);
    }
}

.fancybox__content {
    width: 95% !important;
    height: 95% !important;
}
