// $breakpoint is the variable that can have several values
@mixin devices ($breakpoint) { //the name of the mixin is devices
    @if $breakpoint == desktop {
        //@media (min-width: 1235px) {
        @media (min-width: 1535px) {
            @content;
        }
    }
}
