.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 32px;

    path {
        fill: #868686;
    }
}

.text {
    padding: 0 8px;
    font-size: .625rem;
    font-weight: 300;
    color: #868686;
    line-height: 14px;
    text-align: center;
}
