.root {
    position: relative;
    width: 20px;
    height: 20px;

    &:after,
    &:before {
        content: '';
        position: absolute;
        background-color: #292929;
        border-radius: 2px;
    }

    &.vertical {
        &:after,
        &:before {
            top: 0;
            width: 9px;
            height: 20px;
            padding: 2px;
            border-radius: 2px;
        }

        &:after {
            left: 0;
        }

        &:before {
            right: 0;
        }
    }

    &.horizontal {
        &:after,
        &:before {
            width: 100%;
            height: 9px;
            border-radius: 2px;
        }

        &:after {
            top: 0;
        }

        &:before {
            bottom: 0;
        }
    }
}
