@mixin mixinOverSize {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}


.root {
    position: relative;
    z-index: 999;
    width: 50px;
    height: 50px;
    padding: 0;
    //background-color: #EDEDED;
    border: 0;

    &:focus-visible {
        outline: 0;

        .image {
            outline: -webkit-focus-ring-color auto 1px;
        }
    }

    &:not(.dropped):hover {
        z-index: 0;
        cursor: grab;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(134, 134, 134, .5);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuNC4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMTY5LjQgNDEuNGMxMi41LTEyLjUgMzIuOC0xMi41IDQ1LjMgMGwxNjAgMTYwYzkuMiA5LjIgMTEuOSAyMi45IDYuOSAzNC45cy0xNi42IDE5LjgtMjkuNiAxOS44SDI1NlY0NDBjMCAyMi4xLTE3LjkgNDAtNDAgNDBIMTY4Yy0yMi4xIDAtNDAtMTcuOS00MC00MFYyNTZIMzJjLTEyLjkgMC0yNC42LTcuOC0yOS42LTE5LjhzLTIuMi0yNS43IDYuOS0zNC45bDE2MC0xNjB6IiBmaWxsPSIjRkZGRkZGIi8+PC9zdmc+);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px 20px;
        }

        .image {
            border: 2px solid #13bddf;
            border-radius: 2px;
        }
    }

    .desk {
        @include mixinOverSize;
    }

    .overlay {
        position: absolute;
    }

    .image {
        position: absolute;
        border: 2px solid transparent;
    }

    &.vertical {
        width: 47px;
        height: 72px;

        .image {
            top: 1px;
            left: 10px;
            width: 48px;
            height: 70px;
            margin-left: -13px;
        }

        .overlay {
            top: -2px;
            left: -2px;
            width: 132px;
            height: 198px;
        }

        &:hover {
            &:after {
                top: 3px;
                left: 12px;
                width: 44px;
                height: 66px;
                margin-left: -13px;
            }
        }
    }

    &.horizontal {
        width: 72px;
        height: 48px;

        .image {
            top: -9px;
            left: 12px;
            width: 45px;
            height: 69px;
            transform: rotateZ(90deg);

            &.triangle_top {
                transform: rotateZ(90deg) rotateX(180deg)
            }

            &.triangle_left {
                transform: rotateZ(90deg) rotateY(-180deg)
            }
        }

        .overlay {
            top: -2px;
            left: -2px;
            width: 198px;
            height: 132px;
        }

        &:hover {
            &:after {
                top: 4px;
                left: 1px;
                width: 66px;
                height: 44px;
            }
        }
    }

    .image {
        border: 2px solid transparent;
        border-radius: 2px;

        //&:hover {
        //    cursor: grab;
        //    border: 2px solid #13bddf;
        //    border-radius: 2px;
        //}
    }
}

.name {
    display: none;
}

.dropped {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    background-color: #B6E7EF !important;
    border: 2px solid transparent;

    &:hover {
        background-color: #b2b1b1;
        //border: 2px solid #27bbdb;

        .control {
            display: flex;
            z-index: 99;
        }
    }

    &.vertical {
        .inverted {
            .image {
                transform: rotate(180deg);
            }

            .overlay {
                //top: 2px !important;
                //left: 2px !important;
                //transform: rotateX(180deg);
            }
        }

        .control {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .image {
            top: -2px !important;
            left: 11px !important;
            width: 132px !important;
            height: 198px !important;
            border: 0 !important;
        }
    }

    &.horizontal {
        .inverted {
            .image {
                transform: rotateZ(-90deg);

                &.triangle_top {
                    transform: rotateZ(-90deg) rotateX(180deg)
                }

                &.triangle_left {
                    transform: rotateZ(-90deg) rotateY(-180deg)
                }
            }

            .overlay {
                //top: 2px !important;
                //left: 2px !important;
            }
        }

        .control {
            padding-top: 20px;
            flex-direction: row;
            justify-content: center;
        }

        .image {
            top: -35px;
            left: 31px;
            width: 132px !important;
            height: 198px !important;
            border: 0 !important;
        }
    }

    .name {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 4px 8px;
        font-size: .875rem;
        font-weight: 600;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-shadow: 0px 0px 3px #00000029;
    }
}

.control {
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    @include mixinOverSize;
    gap: 5px;
    background-color: #00000036;

    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        cursor: pointer;

        &.grab {
            cursor: grab;
        }

        .icon {
            width: 20px;
            height: 20px;
            font-size: 12px;
        }
    }
}

.disabled {
    pointer-events: none;
}
