.root {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}

.header {
    position: relative;
    padding: 8px 16px;
    font-size: .85rem;
    font-weight: 600;
    color: #fff;
    background-color: #26bcdc;
    border-radius: 8px 8px 0 0;
}

.body {
    padding: 24px 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, .25);
}

.close {
    all: unset;
    position: absolute;
    top: 8px;
    right: 10px;
    bottom: 0;
    cursor: pointer;

    svg {
        font-size: 1.25rem;

        path {
            fill: #fff;
        }
    }

    &:hover {
        svg path {
            fill: #000;
        }
    }
}

.title {

}

.description {
    text-align: center;
}
