@mixin mixinRulerImage {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 20px;
    justify-content: center;
    align-items: center;
}

$mainColor: #DA4D8B;

.root {
    position: absolute;
    width: 100%;
    height: 100%;

    .space {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.resizeable {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
}

.link {
    background-color: $mainColor;

    &.top {
        top: -3px !important;
        width: 35px;
        height: 3px !important;

        &:after {
            content: "Y";
            position: absolute;
            top: -14px;
            right: -35px;
            padding-left: 37px;
            color: $mainColor;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMWVtIiBoZWlnaHQ9IjFlbSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+PCEtLSEgRm9udCBBd2Vzb21lIFBybyA2LjIuMCBieSBAZm9udGF3ZXNvbWUgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbSBMaWNlbnNlIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20vbGljZW5zZSAoQ29tbWVyY2lhbCBMaWNlbnNlKSBDb3B5cmlnaHQgMjAyMiBGb250aWNvbnMsIEluYy4gLS0+PHBhdGggZmlsbD0iI0RBNEQ4QiIgZD0iTTI5NiAzOTEuMWMtNi4xNDEgMC0xMi4yOCAyLjM0NC0xNi45NyA3LjAzMUwyNDggNDMwLjF2LTg2LjA2YzAtMTMuMjUtMTAuNzUtMjQtMjQtMjRzLTI0IDEwLjc1LTI0IDI0djg2LjA2bC0zMS4wMy0zMS4wM0MxNjQuMyAzOTQuMyAxNTguMSAzOTEuMSAxNTIgMzkxLjFjLTEyLjgyIDAtMjQgMTAuMzMtMjQgMjRjMCA2LjE0MSAyLjM0NCAxMi4yOCA3LjAzMSAxNi45N2w3MiA3Mi4wMUMyMDkuNiA1MDcuNSAyMTUuNSA1MTIgMjI0IDUxMnMxNC40LTQuNDYxIDE2Ljk3LTcuMDMxbDcyLTcyLjAxQzMxNy43IDQyOC4zIDMyMCA0MjIuMSAzMjAgNDE1LjFDMzIwIDQwMi4zIDMwOC44IDM5MS4xIDI5NiAzOTEuMXpNMTUyIDExOS4xYzYuMTQxIDAgMTIuMjgtMi4zNDQgMTYuOTctNy4wMzFMMjAwIDgxLjkxdjg2LjA3YzAgMTMuMjUgMTAuNzUgMjQgMjQgMjRzMjQtMTAuNzUgMjQtMjRWODEuOTFsMzEuMDMgMzEuMDNDMjgzLjcgMTE3LjYgMjg5LjggMTE5LjEgMjk2IDExOS4xYzE4Ljc5IDAgMjQtMTcuMiAyNC0yMy4xYzAtNi4xNDEtMi4zNDQtMTIuMjgtNy4wMzEtMTYuOTdsLTcyLTcyLjAxQzIzNC45IC45NzY2IDIyNy43IDAgMjIzLjEgMEMyMjAuMyAwIDIxMy4xIC45Njg3IDIwNyA3bC03MiA3Mi4wMUMxMzAuMyA4My43IDEyOCA4OS44NCAxMjggOTUuOThDMTI4IDEwOS43IDEzOS4yIDExOS4xIDE1MiAxMTkuMXpNNDI0IDIzMkgyNEMxMC43NSAyMzIgMCAyNDIuNyAwIDI1NS4xUzEwLjc1IDI4MCAyNCAyODBoNDAwYzEzLjI1IDAgMjQtMTAuNzYgMjQtMjQuMDFTNDM3LjMgMjMyIDQyNCAyMzJ6Ii8+PC9zdmc+Cg==);
            @include mixinRulerImage;
        }
    }

    &.right {
        width: 3px !important;
        height: 30px;

        &:before {
            content: "X";
            position: absolute;
            right: -13px;
            bottom: -40px;
            padding-top: 45px;
            color: $mainColor;
            background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0ib3NhX1giIGRhdGEtbmFtZT0ib3NhIFgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPgogIDxwYXRoIGlkPSJhcnJvd3MtZnJvbS1saW5lLXJlZ3VsYXIiIGQ9Ik0xMS4yMzIsMTUuMjc3YS45LjksMCwwLDAtLjY0NC4yNzVMOS40MTEsMTYuOFYxMy40MzlhLjkxMS45MTEsMCwxLDAtMS44MjEsMFYxNi44TDYuNDEyLDE1LjU4OWEuOTI2LjkyNiwwLDAsMC0uNjQ0LS4zMTEuOTI1LjkyNSwwLDAsMC0uOTExLjkzOC45NDkuOTQ5LDAsMCwwLC4yNjcuNjYzbDIuNzMyLDIuODEzQS44MDUuODA1LDAsMCwwLDguNSwyMGEuOTExLjkxMSwwLDAsMCwuNjQ0LS4yNzVsMi43MzItMi44MTNhLjk2NS45NjUsMCwwLDAsLjI2Ny0uN0EuOTQ4Ljk0OCwwLDAsMCwxMS4yMzIsMTUuMjc3Wk01Ljc2OCw0LjY1MmEuOS45LDAsMCwwLC42NDQtLjI3NUw3LjU4OSwzLjJWNi41NjJhLjkxMS45MTEsMCwxLDAsMS44MjEsMFYzLjJsMS4xNzcsMS4yMTJhLjg2MS44NjEsMCwwLDAsLjY0NC4yNDEuOTI0LjkyNCwwLDAsMCwuOTExLS45Ljk0OS45NDksMCwwLDAtLjI2Ny0uNjYzTDkuMTQ0LjI3NEEuOTIxLjkyMSwwLDAsMCw4LjQ2NiwwYS45LjksMCwwLDAtLjYxMS4yNzNMNS4xMjMsMy4wODZhLjk0Ni45NDYsMCwwLDAtLjI2Ni42NjNBLjg5NC44OTQsMCwwLDAsNS43NjgsNC42NTJabTEwLjMyMSw0LjQxSC45MTFhLjkxNi45MTYsMCwwLDAtLjkxMS45Ljk3OS45NzksMCwwLDAsLjkxMS45NzNIMTYuMDg5YS45MzguOTM4LDAsMCwwLDAtMS44NzVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMCAyKSByb3RhdGUoOTApIiBmaWxsPSIjZGE0ZDhiIi8+Cjwvc3ZnPgo=);

            @include mixinRulerImage;
        }
    }

    &.hidden {
        display: none;
        pointer-events: none;
    }
}

.readonly {
    pointer-events: none;
}

.container {
    position: relative;
    width: 100%;
    border-top: 3px solid $mainColor;
    border-right: 3px solid $mainColor;

    & > div > div {
        z-index: 99999;
    }

    &:before {
        content: '';
        position: absolute;
        right: -5px;
        bottom: -30px;
        z-index: 1;
        width: 3px;
        height: 30px;
        background-color: $mainColor;
    }

    &:after {
        content: '';
        position: absolute;
        top: -3px;
        right: -35px;
        width: 35px;
        height: 3px;
        background-color: $mainColor;
    }

    & > div {
        //&:before {
        //    content: "X";
        //    position: absolute;
        //    right: -16px;
        //    bottom: -68px;
        //    padding-top: 45px;
        //    color: $mainColor;
        //
        //    @include mixinRulerImage;
        //}
    }
}

.disabled {
    position: absolute;
    z-index: 9999;
    height: 100%;
    background-color: #86868680;

    &.aside {
        top: 0;
        right: 0;
        width: 100px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -35px;
            width: calc(100% + 35px);
            height: 3px;
            background-color: $mainColor;
        }

        .after {
            //&:after {
            //    content: "Y";
            //    position: absolute;
            //    top: -14px;
            //    right: -70px;
            //    padding-left: 37px;
            //    color: $mainColor;
            //    @include mixinRulerImage;
            //}
        }
    }

    &.top {
        top: 0;
        width: 100%;
        &:after {
            content: '';
            position: absolute;
            right: -35px;
            bottom: -3px;
            width: calc(100% + 35px);
            height: 3px;
            background-color: $mainColor;
        }
    }
}
