.root {
    position: initial;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
}

.brand {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.column {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.action {
    margin-top: 20px;
}
