.root {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.spin {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
