.root {
    position: relative;
}

.section {
    position: relative;
    padding: 16px 0;
}

.loading {
    background-color: rgba(255, 255, 255, 0.66);
}

.title {
    padding-bottom: 16px;
    font-size: 1.250rem;
    font-weight: 600;
    border-bottom: 1px solid #868686;
}

.content {
    padding: 10px 0;
    border-bottom: 1px solid #EDEDED;
}

.name {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    & > span {
        font-size: 1.250rem;
        font-weight: 600;
        color: #868686;
    }
}

.info {
    display: flex;
    padding: 16px 0;
    flex-direction: column;
    gap: 4px;

    & > span {
        font-size: 1.125rem;
        font-weight: 400;
        color: #868686;
    }
}

.tooltip {
    &:before {
        right: 0 !important;
        left: unset !important;
    }
}

.button {
    display: block !important;
    all: unset;
    font-size: 1rem;
    font-weight: 300;
    color: #292929;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #868686;
    }
}

.ul {
    padding: 0;
    margin-top: -8px;
    list-style-type: none;
}

.li {
    display: flex;
    padding-top: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        padding-bottom: 8px;
        border-bottom: 1px solid #EDEDED;
    }

    &:last-child {
        margin-bottom: -8px;
    }

    &.selected {
        & .labelName {
            font-weight: 500;
            text-decoration: underline;
        }
    }
}

.label {
    display: flex;
    font-size: 1.125rem;
    font-weight: 300;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    & > .labelDate {
        font-size: .75rem;
        color: #868686;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    .button {
        font-size: 24px;
    }
}
